
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .form-container {
    background-color: #FFFF40;
    border: 6px solid #4C2509;
    border-radius: 32px;
    width: 582px;
    min-height: 455px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    transition: background-color 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .form-container.login {
    background-color: #D0B339;
  }
  
  .toggle {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .toggle button {
    flex: 1;
    padding: 10px;
    cursor: pointer;
    outline: none;
    background-color: #D0B339;
    color: #000;
    font-weight: bold;
    border: 3px solid #4C2509;
    border-radius: 8px;
    margin: 0;
    transition: background-color 0.3s ease, border 0.3s ease;
  }
  
  .toggle button.active {
    background-color: #FFFF40;
    border: none;
  }
  
  .entrar-checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .entrar-container {
    padding: 10px;
    background-color: #FFFBAF;
    color: #231204;
    border: 3px solid #4C2509;
    border-radius: 8px;
    margin-top: 15px;
    width: 300px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }

  
  form label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 80%;
    justify-content: center;
  }
  
  form label input {
    margin-right: 5px;
  }
  